= form_for [@buyer, @invoice] do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice.errors.count, "error")} prohibited this invoice from being saved:"
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :standard
    = f.text_field :standard
  .field
    = f.label :unit
    = f.text_field :unit
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :tax_unit_price
    = f.text_field :tax_unit_price
  .field
    = f.label :tax_total
    = f.text_field :tax_total
  .field
    = f.label :cess
    = f.text_field :cess
  .field
    = f.label :tax_money
    = f.text_field :tax_money
  .field
    = f.label '税收分类编码'
    = select :invoice, :tax_category_id, tax_category_options, {:include_blank=>false}, {:class=>"form-control"}   
  .actions
    = f.submit 'Save'
