- provide(:title, t('.title'))

- content_for :lgside_body do
  .container
    .row
      .col-md-3
        = render "layouts/system_search"
      .col-md-8
        = link_to '添加发票', new_buyer_invoice_path(@buyer), :class => "btn btn-info"
        = link_to "导出XML", export_xml_buyer_invoices_path(@buyer), :class => 'btn btn-primary'
    .row.buyer-table-ctn
      .col-md-12
        %table.table.text-center.table-bordered.table-list-search
          %thead
            %tr
              %th 序号
              %th 规格型号 
              %th 计量单位
              %th 数量
              %th 含税单价
              %th 含税金额
              %th 税率
              %th 税额
              %th
          %tbody
            - @invoices.each_with_index do |invoice, index|
              %tr
                %td= index+1 
                %td= invoice.standard
                %td= invoice.unit
                %td= invoice.amount
                %td= invoice.tax_unit_price
                %td= invoice.tax_total
                %td= invoice.cess
                %td= invoice.tax_money
                %td
                  = link_to '编辑', edit_buyer_invoice_path(@buyer, invoice), :class => "btn btn-success"
                  = link_to '删除', [@buyer, invoice], :method => :delete, :data => { :confirm => '确定删除?' }, :class => "btn btn-danger"

= render "layouts/control_panel"
