%p#notice= notice

%p
  %b Standard:
  = @invoice.standard
%p
  %b Unit:
  = @invoice.unit
%p
  %b Amount:
  = @invoice.amount
%p
  %b Tax unit price:
  = @invoice.tax_unit_price
%p
  %b Tax total:
  = @invoice.tax_total
%p
  %b Cess:
  = @invoice.cess
%p
  %b Tax money:
  = @invoice.tax_money

= link_to 'Edit', edit_invoice_path(@invoice)
\|
= link_to 'Back', invoices_path
