.container
  .row
    .col-md-6.col-md-offset-2
      = form_for @user do |f|
        .mail-option
          .chk-all
            = f.label "邮箱:" 
            = @user.email
          = f.submit '保存', :class => "btn btn-success"
        %table.table.table-inbox.table-hover
          %tbody
            - @roles.each do |role|
              %tr.unread
                %td.inbox-small-cells
                  %label.checkbox-inline
                    = check_box_tag 'roles[]', role.id, @user.has_role?(role.name), {array: true, class: "mail-checkbox"} 
                    = role.name
