- provide(:title, t('.title'))

- content_for :lgside_body do
  .mail-option
    = link_to "添加角色", new_role_path, :class => "btn btn-default"
  %table.table.table-inbox.table-hover
    %tbody
      - @roles.each do |role|
        %tr.unread
          %td.inbox-small-cells
            = role.id
          %td.view-message.dont-show
            = role.name
          %td.view-message.text-right
            = link_to "编辑", edit_role_path(role), :class => "btn btn-default"
            = link_to "查看", role_path(role), :class => "btn btn-default"
            = link_to "删除", role, :method => :delete, :data => {:confirm => "确定删除当前角色吗?"}, :class => "btn btn-default"
= render "layouts/control_panel"
