- provide(:title, t('.title'))

- content_for :lgside_body do
  .container-fluid
    .row
      .col-md-3
        = render "layouts/system_search"
      .col-md-2
        = link_to '添加商品税收分类编码', new_tax_category_path, :class => "btn btn-info"
    .row.mt30
      .col-md-12
        = form_for @system_info, :html => {:class => "form-inline"} do |f|
          .form-group
            = f.label "版本", :class => "text-right"
            = f.text_field :version, :class => "form-control"
          .form-group
            = f.label "税收分类版本", :class => "text-right"
            = f.text_field :tax_category_version, :class => "form-control"
          .form-group
            = f.label "国税版本", :class => "text-right"
            = f.text_field :national_tax_version, :class => "form-control"
          = f.submit "更新版本", :class => "btn btn-success"
    .row.buyer-table-ctn
      .col-md-12
        %table.table.text-center.table-bordered.table-list-search
          %thead
            %tr
              %th #
              %th 商品名称 
              %th 税收分类编码
              %th
          %tbody
            - @tax_categories.each_with_index do |tax_category, index|
              %tr
                %td= index+1
                %td= tax_category.name
                %td= tax_category.code
                %td
                  = link_to '编辑', edit_tax_category_path(tax_category), :class => "btn btn-success"
                  = link_to '删除', tax_category, :method => :delete, :data => { :confirm => '确定删除?' }, :class => "btn btn-danger"
  

= render "layouts/control_panel"
