- provide(:title, t('.title'))

- content_for :lgside_body do
  .container-fluid
    .row.buyer-table-ctn
      .col-md-12
        %table.table.text-center.table-bordered.table-list-search
          %thead
            %tr
              %th #
              %th 商品名称 
              %th 税收分类编码
              %th
          %tbody
            %tr
              %td= 1
              %td 
                = @tax_category.name
              %td 
                = @tax_category.code
              %td
                = link_to '编辑', edit_tax_category_path(@tax_category), :class => "btn btn-success"
                = link_to '返回', tax_categories_path, :class => "btn btn-danger"

= render "layouts/control_panel"
