- provide(:title, t('.title'))

- content_for :lgside_body do
  .container
    .row.buyer-table-ctn
      .col-md-12
        %table.table.text-center.table-bordered.table-list-search
          %thead
            %tr
              %th #
              %th 简称 
              %th 客户名称
              %th 购方税号
              %th 购方银行账号
              %th 购方地址电话
              %th 备注
              %th 复核人
              %th 收款人
              %th
          %tbody
            %tr
              %td= 1
              %td= @buyer.alias
              %td= @buyer.name
              %td= @buyer.duty_paragraph
              %td= @buyer.account
              %td= @buyer.phone
              %td= @buyer.remark
              %td= @buyer.checker
              %td= @buyer.payee
              %td
                = link_to '编辑', edit_buyer_path(@buyer), :class => "btn btn-success"
                = link_to '返回', buyers_path, :class => "btn btn-danger"
                = link_to '发票列表', buyer_invoices_path(@buyer), :class => "btn btn-info"
                -#
                  = link_to '删除', @buyer, :method => :delete, :data => { :confirm => '确定删除?' }, :class => "btn btn-danger"
= render "layouts/control_panel"
