%nav.navbar.navbar-inverse.navbar-fixed-top.nav-bar-bg
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => root_path} 税票管理系统 
    #navbar.collapse.navbar-collapse
      -#
        %ul.nav.navbar-nav
          %li.active
            = link_to Setting.tax_categories.index, tax_categories_path
          %li
            = link_to Setting.buyers.index, buyers_path
      %ul.nav.navbar-nav.navbar-right
        - unless user_signed_in?
          %li
            %a{:href => "#"}
              %span.glyphicon.glyphicon-question-sign
              HELP
          %li
            = link_to new_user_registration_path do
              %span.glyphicon.glyphicon-user
                注册
          %li
            = link_to "登录", new_user_session_path
        - else
          -#
            %li
              = link_to "个人中心", control_users_path
          %li
            %a{:href=>destroy_user_session_path, "data-method"=>"delete"} 注销
